<%- partial('_partial/head') %>

<body>

  <header><%- partial('_partial/header') %></header>

  <%- body %>

  <footer role="contentinfo"><%- partial('_partial/footer') %></footer>

  <%- partial('_partial/googleanalytics') %>

</body>
</html>
