<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>

<article class="article">

<h2 class="article-title <% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>

<% if (pagination == 2){ %>
  <% page.posts.each(function(item){ %>
    <%- partial('article', {item: item, index: true}) %>
  <% }); %>
  <%- partial('pagination') %>
<% } else { %>
  <div class="archive">
    <% page.posts.each(function(item){ %>
      <article class="<%= item.layout %> archive">
        <div class="archive-post">
          <header>
            <time class="archive-date" datetime="<%= item.date.toDate().toISOString() %>">
              <%= item.date.format(config.date_format) %>
            </time>
            <% if (item.link){ %>
              <% if (item.title){ %>
                <p class="archive-title"><a href="<%- item.link %>" target="_blank"><span><%= item.title %></span></a></p>
              <% } else { %>
                <p class="archive-title"><a href="<%- item.link %>" target="_blank"><span><%= item.link %></span></a></p>
              <% } %>
            <% } else { %>
              <p class="archive-title"><a href="<%- config.root %><%- item.path %>"><span><%= item.title %></span></a></p>
            <% } %>
          </header>
        </div>
      </article>
    <% }); %>
    <%- partial('pagination') %>
  </div>

</article>
<% } %>
