<hgroup class="alignCenter">
  <h1><a class="title" href="<%- config.root %>"><%= config.title %></a></h1>
  <p>
    <% if (config.subtitle){ %><%= config.subtitle %><% } %>
  </p>
  <p>
    <a href="<%- config.root %>">
      <%- image_tag("img/mech-heart.svg", {alt: "Логотип сайта", class: "logo", width: 80, height: 104}) %>
    </a>
  </p>
</hgroup>
