<% if (item.link){ %>
  <% if (item.title){ %>
    <h2 class="article-title"><a href="<%- item.link %>" target="_blank"><span><%= item.title %></span></a></h2>
  <% } else { %>
    <h2 class="article-title"><a href="<%- item.link %>" target="_blank"><span><%= item.link %></span></a></h2>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h2 class="article-title"><a href="<%- config.root %><%- item.path %>"><span><%= item.title %></span></a></h2>
  <% } else { %>
    <h2 class="article-title"><span><%= item.title %></span></h2>
  <% } %>
<% } %>
